<%# Ajout d'un style pour l'image de fond. %>
<% content_for :head do %>
  <style>
    .dashboard-background {
      background-image: url('<%= asset_path 'TFFB (1).jpg' %>');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      min-height: 100vh; /* Assure que le conteneur prend au moins toute la hauteur de l'écran */
    }
  </style>
<% end %>

<%# On ajoute la classe "dashboard-background" au conteneur principal de la page %>
<div class="dashboard-background">
  <div class="container-fluid pt-4 pb-4">
    <h2 class="mb-5 ms-2">Bienvenue 
      <%= current_user.prenom %> 
      <%= link_to "Proroger / renouveler ma qualification SEP", 'https://sigebelext.aviation-civile.gouv.fr/sigebelext/identificationpn.htm', class: "btn btn-outline-secondary ms-5", target: '_blank' %>
    </h2>

    <%# Alerte pour les administrateurs (Maintenance avions) %>
    <%= render 'shared/admin_alerts' %>

    <%= turbo_stream_from current_user %>

    <div class="row g-4">
      <div class="col-lg-4">
        <!-- Carte Solde -->
        <%= render "static_pages/solde", user: current_user %>
      </div>
      <div class="col-lg-4">
        <!-- Carte Prochain Vol -->
        <%= render "static_pages/prochain_vol" %>
      </div>
      <div class="col-lg-4">
        <!-- Carte Mes Vols -->
        <%= render "static_pages/mes_vols" %>
      </div>
      <div class="col-lg-4 mb-5">
        <!-- Carte dates limites -->
        <%= render 'static_pages/validites', user: current_user %>
      </div>
      <div class="col-lg-4 mb-5">
        <!-- Carte évènements à venir -->
        <%= render 'static_pages/evenements_a_venir' %>
      </div>
      <div class="col-lg-4 mb-5">
        <!-- Carte dernières transactions -->
        <%= render 'static_pages/mes_transactions' %>
      </div>
    </div>

    <%# On n'affiche la section des consignes que si il y en a au moins une. %>
    <% filtered_news_items = @news_items.reject { |item| item.title.casecmp?('dispo') } %>
    <% if filtered_news_items.present? %>
      <!-- Consignes aux pilotes -->
      <div class="row g-4 mt-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <%= render 'static_pages/dernieres_consignes', news_items: filtered_news_items %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- ================================================== -->
  <!--         Fenêtre Modale pour l'Annulation           -->
  <!-- ================================================== -->
  <div class="modal fade" id="cancellationModal" tabindex="-1" aria-labelledby="cancellationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="cancellationModalLabel">Confirmation d'annulation</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Vous êtes sur le point d'annuler cette réservation.</p>

          <!-- Le formulaire sera injecté ici par JavaScript -->
          <div id="modal-cancellation-form-content"></div>

        </div>
      </div>
    </div>
  </div>
</div>
