<%# --- SECTION PROCHAIN VOL --- %>
<div class="card h-100 shadow">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title mb-0">
      <i class="bi bi-calendar-date me-2"></i>Mes prochaines réservations
          <%= link_to "CHECK-LIST", check_list_path, class: "btn btn-success ms-5 fw-bold" %>
    </h5>
  </div>
  <div class="card-body d-flex flex-column">
    <% if @upcoming_reservations.present? && @upcoming_reservations.any? %>
      <% @upcoming_reservations.each_with_index do |reservation, index| %>
        <div class="reservation-item">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="mb-1">Vol sur <strong><%= reservation.avion.immatriculation %></strong></p>
              <p class="text-muted small mb-0">
                <%= "#{l(reservation.start_time, format: '%A %d %B %Y')} de #{l(reservation.start_time, format: :short_time)} à #{l(reservation.end_time, format: :short_time)}" %>
              </p>
            </div>
            <div class="d-flex">
              <%# Calcul du temps restant avant le vol %>
              <% time_before_flight = reservation.start_time - Time.current %>

              <%= link_to "Modifier", edit_reservation_path(reservation), class: "btn btn-sm btn-outline-primary" %>
              <%= button_tag "Annuler", type: 'button', class: 'btn btn-sm btn-outline-danger ms-2',
                    'data-bs-toggle': 'modal',
                    'data-bs-target': '#cancellationModal',
                    'data-reservation-id': reservation.id,
                    'data-time-before-flight': time_before_flight %>
            </div>
          </div>
        </div>
        <%= tag.hr if !@upcoming_reservations.last.eql?(reservation) %>
      <% end %>
    <% else %>
      <p class="text-muted m-auto">Aucune réservation à venir.</p>
    <% end %>
  </div>

  <div class="btn-group w-100">
    <%= link_to "Mes réservations", 
                reservations_path, 
                class: "btn btn-sm btn-outline-primary #{'disabled' if @upcoming_reservations_count <= 3}",
                aria: { disabled: @upcoming_reservations_count <= 3 },
                tabindex: ('-1' if @upcoming_reservations_count <= 3) 
    %>
    <%= link_to "Agenda instructeurs", agenda_instructeurs_path, class: "btn btn-outline-primary mt-auto" %>
    <%= link_to "Réserver un vol", new_reservation_path, class: "btn btn-outline-primary mt-auto" %>
  </div>

</div>
