<% content_for :title, t('static_pages.faq.title') %>

<div class="container my-5">
  <div class="d-flex justify-content-center align-items-center text-center">
    <%= image_tag 'faq.png', alt: 'Icône FAQ', style: 'height: 60px; margin-right: 40px;' %>
    <div>
      <h1 class="mb-0"><%= t('static_pages.faq.title') %></h1>
      <p class="lead"><%= t('static_pages.faq.subtitle') %></p>
    </div>
  </div>
  <!-- Séparateur -->
  <hr class="my-5">

  <!-- Accordéon pour la FAQ -->
  <div class="accordion" id="faqAccordion">

    <!-- FAQ 1 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading1">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
          <%= t('static_pages.faq.q1.question') %>
        </button>
      </h2>
      <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q1.answer_html') %>
        </div>
      </div>
    </div>

    <!-- FAQ 2 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
          <%= t('static_pages.faq.q2.question') %>
        </button>
      </h2>
      <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q2.answer_html') %>
      </div>
    </div>
    </div>

    <!-- FAQ 3 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading3">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
          <%= t('static_pages.faq.q3.question') %>
        </button>
      </h2>
      <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q3.answer_html') %>
      </div>
    </div>
    </div>

    <!-- FAQ 4 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading4">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          <%= t('static_pages.faq.q4.question') %>
        </button>
      </h2>
      <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q4.answer_html') %>
      </div>
    </div>
    </div>

    <!-- FAQ 5 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading5">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          <%= t('static_pages.faq.q5.question') %>
        </button>
      </h2>
      <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q5.answer_html') %>
      </div>
    </div>
    </div>

    <!-- FAQ 6 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading6">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
          <%= t('static_pages.faq.q6.question') %>
        </button>
      </h2>
      <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q6.answer_html') %>
      </div>
    </div>
    </div>

    <!-- FAQ 7 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading7">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
          <%= t('static_pages.faq.q7.question') %>
        </button>
      </h2>
      <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q7.answer_html') %>
      </div>
    </div>
    </div>

    <!-- FAQ 8 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading8">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
          <%= t('static_pages.faq.q8.question') %>
        </button>
      </h2>
      <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q8.answer_html') %>
      </div>
    </div>
    </div>

    <!-- FAQ 9 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading9">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
          <%= t('static_pages.faq.q9.question') %>
        </button>
      </h2>
      <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q9.answer_html') %>
      </div>
    </div>
    </div>

    <!-- FAQ 10 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading10">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
          <%= t('static_pages.faq.q10.question') %>
        </button>
      </h2>
      <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q10.answer_html') %>
      </div>
    </div>
    </div>

    <!-- FAQ 11 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading11">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
          <%= t('static_pages.faq.q11.question') %>
        </button>
      </h2>
      <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q11.answer_html') %>
      </div>
    </div>
    </div>

    <!-- FAQ 12 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading12">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
          <%= t('static_pages.faq.q12.question') %>
        </button>
      </h2>
      <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q12.answer_html') %>
      </div>
    </div>

    <!-- FAQ 13 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFfaHelp">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFfaHelp" aria-expanded="false" aria-controls="collapseFfaHelp">
          <%= t('static_pages.faq.q13.question') %>
        </button>
      </h2>
      <div id="collapseFfaHelp" class="accordion-collapse collapse" aria-labelledby="headingFfaHelp" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q13.answer_html') %>
        </div>
      </div>
    </div>

    <!-- FAQ 14 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading14">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
          <%= t('static_pages.faq.q14.question') %>
        </button>
      </h2>
      <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q14.answer_html') %>
        </div>
      </div>
    </div>

    <!-- FAQ 15 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading15">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
          <%= t('static_pages.faq.q15.question') %>
        </button>
      </h2>
      <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q15.answer_html') %>
        </div>
      </div>
    </div>

    <!-- FAQ 16 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading16">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
          <%= t('static_pages.faq.q16.question') %>
        </button>
      </h2>
      <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <%= t('static_pages.faq.q16.answer_html') %>
        </div>
      </div>
    </div>

  </div>
</div>