
<% if user_signed_in? %>


  <div class="dashboard-layout d-flex">
    <!-- Tableau de bord -->
    <main class="dashboard-content"><%= render 'static_pages/dashboard' %></main>
  </div>

  <%# Script pour la modale d'annulation, uniquement si l'utilisateur est connecté %>
  <script type="text/javascript">
    document.addEventListener('turbo:load', function() {
      const cancellationModal = document.getElementById('cancellationModal');
      if (cancellationModal) {
        cancellationModal.addEventListener('show.bs.modal', function (event) {
          const button = event.relatedTarget; // Le bouton qui a déclenché la modale
          const reservationId = button.getAttribute('data-reservation-id');
          const timeBeforeFlight = parseFloat(button.getAttribute('data-time-before-flight'));
          const formContent = document.getElementById('modal-cancellation-form-content');

          // Construire le formulaire dynamiquement
          let formHTML = `<form action="/reservations/${reservationId}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="authenticity_token" value="${document.querySelector('meta[name="csrf-token"]').content}">`;

          // Si l'annulation a lieu entre 24h et 48h, on ajoute le champ "raison"
          if (timeBeforeFlight < 12 * 3600) { // Moins de 12h
            formHTML +=  `<div class="alert alert-danger" role="alert">
                            <strong>Pénalité de 20€ :</strong> Vous annulez moins de 12 heures avant le vol.
                            <small class="d-block mt-1">Si un administrateur estime votre raison valable, vous n'aurez pas la pénalité d'annulation tardive.</small>
                          </div>`;
          } else if (timeBeforeFlight < 24 * 3600) { // Moins de 24h
            formHTML +=  `<div class="alert alert-danger" role="alert">
                            <strong>Pénalité de 10€ :</strong> Vous annulez moins de 24 heures avant le vol.
                            <small class="d-block mt-1">Si un administrateur estime votre raison valable, vous n'aurez pas la pénalité d'annulation tardive.</small>
                          </div>`;
          } else if (timeBeforeFlight < 48 * 3600) { // Moins de 48h
            formHTML +=  `<div class="alert alert-warning" role="alert">
                            <strong>Attention :</strong> Annulation tardive.
                            <small class="d-block mt-1">Une pénalité de 5€ peut être appliquée si la raison n'est pas jugée valable.</small>
                          </div>`;
          }

          // On ajoute le champ "raison" si l'annulation est à moins de 48h
          if (timeBeforeFlight < 48 * 3600) {
            formHTML += `<div class="mb-3">
                            <label for="cancellation_reason" class="form-label">Raison de l'annulation (obligatoire) :</label>
                            <textarea name="cancellation_reason" id="cancellation_reason" class="form-control" rows="3" required></textarea>
                          </div>`;
          }

          formHTML +=  `<div class="modal-footer border-0 p-0 pt-3">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ne pas annuler</button>
                          <button type="submit" class="btn btn-danger">Confirmer l'annulation</button>
                        </div></form>`;

          formContent.innerHTML = formHTML;
        });
      }
    });
  </script>


<% else %>


  <%# --- Page de présentation du club pour les visiteurs --- %>
  <% content_for :title, "Le Club" %>

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="text-center mb-4">Bast'Air</h1>
        <h3 class="text-center mb-5">L'aéroclub de Basse Terre - Baillif</h3>

        <!-- Carrousel d'images

        -->

        <!-- Carrousel d'images -->
        <div id="homeCarousel" class="carousel slide shadow-lg rounded overflow-hidden mb-5" data-bs-ride="carousel" data-bs-keyboard="true" data-bs-carousel-init>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
          </div>
          <div class="carousel-inner text-white">
            <div class="carousel-item active" data-bs-interval="3500">
              <%= image_tag 'TFFB (1).jpg', class: 'd-block w-100', alt: 'nuages' %>
              <div class="carousel-caption d-none d-md-block text-white">
                <h4>Un ciel incroyable</h4>
                <p>Un ciel différent tous les jours, avec des nuages magnifiques ou un grand ciel bleu.</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <%= image_tag 'TFFB (11).jpg', class: 'd-block w-100', alt: 'piste' %>
              <div class="carousel-caption d-none d-md-block text-white">
                <h4>Une belle piste</h4>
                <p>Une piste en dur de 615m quotidiennement entretenue. Un décollage face à la mer inoubliable.</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <%= image_tag 'TFFB (17).jpg', class: 'd-block w-100', alt: 'nuages' %>
              <div class="carousel-caption d-none d-md-block text-white">
                <h4>Un "espace de jeu" immense</h4>
                <p>Des conditions météoroloques parfois difficles qui nous empêchent de voler, mais généralement clémentes.</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <%= image_tag 'TFFB (7).jpg', class: 'd-block w-100', alt: 'accueil' %>
              <div class="carousel-caption d-none d-md-block text-white">
                <h4>Les infrastructures</h4>
                <p>Des batiments confortables et propres pour vous accueillir.</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <%= image_tag 'TFFB (14).jpg', class: 'd-block w-100', alt: 'piste' %>
              <div class="carousel-caption d-none d-md-block text-white">
                <h4>La piste 14-32</h4>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <%= image_tag 'TFFB (8).jpg', class: 'd-block w-100', alt: 'nuages' %>
              <div class="carousel-caption d-none d-md-block text-white">
                <h4>Des couchers de soleil magnifiques</h4>
                <p>Atterrir à la tombée de la nuitapès avoir contemplé le soleil disparaître sous l'horizon.</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <%= image_tag 'TFFB.jpg', class: 'd-block w-100', alt: 'piste' %>
              <div class="carousel-caption d-none d-md-block text-white">
                <h4>Le décollage en piste 32</h4>
                <p>Face à la mer, on profite tout de suite du paysage.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Préc</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suiv</span>
          </button>
        </div>


        <p class="lead text-center">
          Bienvenue sur la page de notre aéroclub. Découvrez notre histoire, nos valeurs et notre passion pour l'aviation.
        </p>
        <hr class="my-5">
        
        <h2 class="mt-4">Notre Histoire</h2>
        <p>
          Fondé en 2025, l'aéroclub BastAir, association loi 1901, est né de la passion d'un groupe de pilotes désireux de partager leur passion.
        </p>
        <div class="row align-items-center">
          <div class="col-md-8">
            <ul>
              <li>La guadeloupe avec ses 5 aérodromes (Basse-Terre, Les Saintes, Marie Galante, Saint François, La Désirade) et son aéroport international Maryse Condé.</li>
              <li>Les Caraïbes et toutes ses iles (Martinique, Dominique, Saint Barth, Saint Martin,...).</li>
            </ul>
          </div>
          <div class="col-md-4">
            <%= image_tag 'Gwada1.jpg', class: 'img-fluid rounded shadow-sm my-3', alt: 'carte' %>
          </div>
        </div>

        <h2 class="mt-5">Nos Installations</h2>
        <p>
          Basé sur l'aérodrome de Basse Terre Baillif (TFFB), notre club dispose d'installations modernes pour accueillir nos membres dans les meilleures conditions :
        </p>
        <div class="row align-items-center">
          <div class="col-md-8">
            <ul>
              <li>Un club-house convivial pour les briefings et les moments de détente.</li>
              <li>Une salle de cours équipée pour la formation théorique.</li>
              <li>Un hangar pour notre avion, entretenu avec le plus grand soin.</li>
            </ul>
          </div>
          <div class="col-md-4">
            <%= image_tag 'TFFB (10).jpg', class: 'img-fluid rounded shadow-sm my-3', alt: 'Hangar' %>
          </div>
        </div>

        <h2 class="mt-5">Envie de devenir pilote ?</h2>
        <p>
          L'aéroclub vous permet d'obtenir un brevet de pilote privé LAPL(A) ou PPL(A) :
        </p>
        <ul>
          <li>Une formation en partie sur un simulateur de vol moins coûteux que l'avion pour travailler les procédures normales et d'urgence, l'exécution des check-lists, apprendre à parler à la radio, apprendre à utiliser tous les instruments de bord.</li>
          <li>Un avion à l'avionique moderne (EFIS), comme vous pouvez le voir ci-dessous.</li>
          <li>Pour le loisir ou pour continuer vers une carrière professionnelle.</li>
          <li>Possibilité pour les jeunes d'avoir des aides financières.</li>
          <li>Formation au BIA pour les collégiens ou lycéens (se renseigner auprès de votre établissement).</li>
          <li>Stages RSFI de maintien des compétences pour les FI.</li>
          <li>Vous n'êtes pas sûr que cela va vous plaire ? Essayez avec un vol d'initiation avant de vous inscrire.</li>
        </ul>
        <%= image_tag 'TFFB (16).jpg', class: 'img-fluid rounded shadow-sm my-3', alt: 'piste' %>

        <div class="text-center mt-5">
          <%= link_to "Rejoignez-nous !", contact_path, class: "btn btn-primary btn-lg" %>
        </div>
        
        <h2 class="mt-5">Juste envie de faire un baptême ?</h2>
        <div class="row align-items-center">
          <div class="col-md-4">
            <%= image_tag 'Gwada2.jpg', class: 'img-fluid rounded shadow-sm my-3', alt: 'satellite' %>
          </div>
          <div class="col-md-8">
            <p>
              L'aéroclub vous propose des vols inoubliables au-dessus de la Guadeloupe (en fonction de la météo). Découvrez les paysages époustouflants de l'île, de la Soufrière aux plages de sable fin.
            </p>
          </div>
        </div>
        <div class="row align-items-center mt-3">
          <div class="col-md-8">
            <p>Admirez la diversité des paysages, entre mer turquoise et végétation luxuriante. Une expérience unique à vivre ou à offrir.</p>
          </div>
          <div class="col-md-4">
            <%= image_tag 'TFFB (15).jpg', class: 'img-fluid rounded shadow-sm my-3', alt: 'souffrière' %>
          </div>
        </div>

        <div class="text-center mt-5">
          <%= link_to "Venez faire un baptême !", baptemes_path, class: "btn btn-primary btn-lg" %>
        </div>

        <%= image_tag 'TFFB (5).jpg', class: 'img-fluid rounded shadow-sm mt-5 mb-3', alt: 'panneau' %>

      </div>
    </div>
  </div>
  
<% end %>
