<%# app/views/comments/_comment.html.erb %>

<div class="card mb-3" id="comment_<%= comment.id %>">
  <div class="card-body">
    <p class="card-text"><%= comment.content %></p>
    <footer class="blockquote-footer">
      Posté par <strong><%= comment.user.full_name %></strong> le <%= l(comment.created_at, format: :long) %>
      <% if current_user == comment.user %>
        <%= link_to 'Modifier', edit_event_comment_path(comment.event, comment), class: 'btn btn-sm btn-outline-primary ms-5' %>
        <%= link_to 'Supprimer', event_comment_path(comment.event, comment), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-sm btn-outline-danger ms-2' %>
      <% end %>
    </footer>
  </div>
</div>
