<%# app/views/users/edit_profil.html.erb %>

<div class="row justify-content-center">
  <div class="col-md-6">

    <h2>Modifier mon profil</h2>

    <%= form_for(current_user, url: update_profil_user_path(current_user), html: { method: :patch, multipart: true }) do |f| %>
      <%# A FAIRE : ajouter d'autres champs (personne à prévenir) %>

      <%# --- CHAMPS DU FORMULAIRE --- %>
      <div class="mb-3">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :telephone, class: "form-label" %><br />
        <%= f.text_field :telephone, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :adresse, class: "form-label" %><br />
        <%= f.text_area :adresse, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :contact_urgence, "Contact d'urgence", class: "form-label" %><br />
        <%= f.text_field :contact_urgence, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :avatar, "Photo de profil", class: "form-label" %><br />
        <%= f.file_field :avatar, class: "form-control" %>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <%= f.submit "Mettre à jour", class: "btn btn-primary mt-4" %>
        <%= link_to "Retour au profil", user_path(current_user), class: "btn btn-secondary mt-4" %>
      </div>
    <% end %>
    
  </div>
</div>