<%= form_with(model: [:admin, user], local: true, class: "dark-mode-form", data: { controller: 'bia-form user-form', bia_form_target: 'form' }) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(user.errors.count, "erreur") %> a empêché cet adhérent d'être sauvegardé :</h5>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card shadow-sm">
    <div class="card-body p-4">

      <h5 class="mb-3" data-form-target="personalInfoTitle">Informations Personnelles</h5>
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :prenom, class: "form-label" %>
          <%= form.text_field :prenom, class: "form-control bg-light", data: { action: "input->bia-form#toggleFields" } %>
        </div>
        <div class="col-md-6 mb-3">
          <%= form.label :nom, class: "form-label" %>
          <%= form.text_field :nom, class: "form-control bg-light" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3" data-form-target="field">
          <%= form.label :date_naissance, class: "form-label" %>
          <%= form.date_field :date_naissance, class: "form-control bg-light" %>
        </div>
        <div class="col-md-6 mb-3" data-form-target="field">
          <%= form.label :lieu_naissance, class: "form-label" %>
          <%= form.text_field :lieu_naissance, class: "form-control bg-light" %>
        </div>
      </div>      
      <div class="mb-3">
        <%= form.label :adresse, class: "form-label" %>
        <%= form.text_area :adresse, class: "form-control bg-light", rows: 2 %>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :telephone, class: "form-label" %>
          <%= form.text_field :telephone, class: "form-control bg-light" %>
        </div>
        <div class="col-md-6 mb-3" data-form-target="field">
          <%= form.label :profession, class: "form-label" %>
          <%= form.text_field :profession, class: "form-control bg-light" %>
        </div>
      </div>
      <div class="mb-3">
        <%= form.label :contact_urgence, class: "form-label" %>
        <%= form.text_field :contact_urgence, class: "form-control bg-light" %>
      </div>

      <hr class="my-4">

      <h5 class="mb-3" data-form-target="loginInfoTitle">Informations de Connexion</h5>
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.email_field :email, class: "form-control bg-light" %>
        </div>
        <div class="col-md-6 mb-3" data-form-target="field">
          <%= form.label :password, class: "form-label" %>
          <%= form.password_field :password, class: "form-control bg-light", placeholder: "Laisser vide pour ne pas changer" %>
        </div>
      </div>

      <hr class="my-4">

      <h5 class="mb-3" data-form-target="clubInfoTitle">Informations Club</h5>
      <div class="row">
        <div class="col-md-4 mb-3" data-form-target="field">
          <%= form.label :fonction, class: "form-label" %>
          <%= form.select :fonction, User::ALLOWED_FCT.values, { prompt: 'Sélectionner...' }, { class: "form-select bg-light" } %>
        </div>
        <div class="col-md-4 mb-3">
          <%= form.label :solde, class: "form-label" %>
          <%= form.number_field :solde, class: "form-control bg-light", step: '0.01' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3" data-form-target="field">
          <%= form.label :cotisation_club, "Date fin cotisation Club", class: "form-label" %>
          <%= form.date_field :cotisation_club, class: "form-control bg-light" %>
        </div>
        <div class="col-md-6 mb-3" data-form-target="field">
          <%= form.label :cotisation_ffa, "Date fin cotisation FFA", class: "form-label" %>
          <%= form.date_field :cotisation_ffa, class: "form-control bg-light" %>
        </div>
      </div>

      <hr class="my-4">

      <div data-form-target="field">
        <h5 class="mb-3">Licences et Qualifications</h5>
        <div class="row">
          <div class="col-md-4 mb-3">
            <%= form.label :licence_type, "Type de licence", class: "form-label" %>
            <%= form.select :licence_type, User::ALLOWED_LIC.values, { prompt: 'Sélectionner...' }, { class: "form-select bg-light" } %>
          </div>
          <div class="col-md-4 mb-3">
            <%= form.label :num_licence, "Numéro de licence", class: "form-label" %>
            <%= form.text_field :num_licence, class: "form-control bg-light", maxlength: 8 %>
          </div>
          <div class="col-md-4 mb-3">
            <%= form.label :num_ffa, "Numéro FFA", class: "form-label" %>
            <%= form.text_field :num_ffa, class: "form-control bg-light", maxlength: 7 %>
          </div>
        </div>

        <h6 class="mt-3 mb-3">Dates de validité</h6>
        <div class="row">
          <div class="col-md-4 mb-3">
            <%= form.label :date_licence, "Fin de validité Licence", class: "form-label" %>
            <%= form.date_field :date_licence, class: "form-control bg-light" %>
          </div>
          <div class="col-md-3 ms-5 mb-3">
            <%= form.label :type_medical, "Type Visite Médicale", class: "form-label" %>
            <%= form.select :type_medical, User::ALLOWED_MED.values, { prompt: 'Sélectionner...' }, { class: "form-select bg-light" } %>
          </div>
          <div class="col-md-4 mb-3">
            <%= form.label :medical, "Fin de validité VM", class: "form-label" %>
            <%= form.date_field :medical, class: "form-control bg-light" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <%= form.label :controle, "Fin de validité Contrôle en vol", class: "form-label" %>
            <%= form.date_field :controle, class: "form-control bg-light" %>
          </div>
          <div class="col-md-4 mb-3">
            <%= form.label :nuit, "Fin de validité Vol de nuit", class: "form-label" %>
            <%= form.date_field :nuit, class: "form-control bg-light" %>
          </div>
        </div>

        <hr class="my-4" data-user-form-target="instructorField">

        <div class="row" data-user-form-target="instructorField">
          <div class="col-6 mb-3">
            <%= form.label :fi, "Fin de validité Qualification Instructeur (FI)", class: "form-label" %>
            <%= form.date_field :fi, class: "form-control bg-light" %>
          </div>
          <div class="col-6 mb-3">
            <%= form.label :fe, "Fin de validité Qualification Examinateur (FE)", class: "form-label" %>
            <%= form.date_field :fe, class: "form-control bg-light" %>
          </div>
        </div>
        <div class="row" data-user-form-target="instructorField">
          <div class="col-12 mb-4">
            <%= form.label :google_calendar_id, "ID Agenda Google (Instructeurs)", class: "form-label" %>
            <%= form.text_field :google_calendar_id, class: "form-control bg-light", placeholder: "ID de l'agenda Google Calendar pour la synchronisation" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="form-check form-switch mb-3">
            <%= form.check_box :autorise, class: "form-check-input" %>
            <%= form.label :autorise, "Autorisé à voler", class: "form-check-label" %>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-check form-switch mb-3">
            <%= check_box_tag "is_instructor", "1", user.fi.present?, { class: "form-check-input", data: { action: "change->user-form#toggleInstructorFields", user_form_target: "instructorToggle" } } %>
            <%= label_tag "is_instructor", "Instructeur", class: "form-check-label" %>
          </div>
          <div class="form-check form-switch mb-3">
            <%= form.check_box :admin, class: "form-check-input" %>
            <%= form.label :admin, "Administrateur", class: "form-check-label" %>
          </div>
        </div>
      </div>

      <div class="form-actions mt-4 border-top pt-3">
        <%= form.submit "Enregistrer", class: "btn btn-success" %>
        <%= link_to 'Annuler', user_path(current_user), class: 'btn btn-outline-primary ms-2' %>
      </div>

    </div>
  </div>

<% end %>
