<h5>Contenu de la table : <%= translate_table_name(table_name) %> (<%= table_name %>)</h5>

<!-- Barre de recherche -->
<div class="d-flex justify-content-between align-items-center mb-3">
  <!-- Barre de recherche -->
  <%= form_with(url: admin_tables_path(table_name: table_name), method: :get, class: "flex-grow-1 me-3", data: { turbo_frame: "table_content_frame", turbo_action: "advance" }) do |form| %>
    <div class="input-group">
      <%= form.search_field :query, value: params[:query], class: "form-control", placeholder: "Rechercher dans la table..." %>
      <%= form.hidden_field :sort_column, value: params[:sort_column] %>
      <%= form.hidden_field :sort_direction, value: params[:sort_direction] %>
      <button type="submit" class="btn btn-outline-primary">Rechercher</button>
    </div>
  <% end %>

  <!-- Bouton Nouveau, affiché conditionnellement -->
  <% if ['avions', 'tarifs'].include?(table_name) %>
    <%= link_to "Nouveau", admin_new_table_record_path(table_name: table_name), class: "btn btn-primary", data: { turbo_frame: "_top" } %>
  <% end %>
</div>

<% if records.empty? %>
  <div class="alert alert-warning">Cette table est vide.</div>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <% visible_columns = records.first.attributes.keys - hidden_columns_for(table_name) %>
          <% visible_columns.each do |col| %>
            <th><%= sortable_header(col, table_name, params) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% records.each do |record| %>
          <tr data-controller="clickable-row" data-clickable-row-url-value="<%= admin_show_table_record_path(table_name: table_name, id: record.id) %>" style="cursor: pointer;">
            <% visible_columns.each do |col| %>
              <td><%= display_cell_content(record, col, table_name) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div data-turbo-prefetch="false">
    <%= paginate records %>
  </div>

<% end %>
