<%# Met à jour la liste des tables à gauche pour que le lien actif soit correct %>
<%= turbo_stream.update "tables_list" do %>
  <%= render 'tables_list', tables: @tables.first(1), selected_table: @selected_table, show_header: false %>
  <div class="mb-4"></div>
  <%= render 'tables_list', tables: @tables.drop(1), selected_table: @selected_table, show_header: true %>
<% end %>

<%# Met à jour le contenu de la table à droite %>
<%= turbo_stream.update "table_content_frame" do %>
  <% if @records %>
    <div id="table-content-wrapper" data-table-name="<%= @selected_table %>">
      <%= render 'table_content', table_name: @selected_table, records: @records %>
    </div>
  <% else %>
    <div class="alert alert-info mt-3">Veuillez sélectionner une table dans la liste de gauche pour voir son contenu.</div>
  <% end %>
<% end %>
