<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo.png", alt: "BastAir logo", height: "30", class: "me-2" %>
      BastAir
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Tarifs", tarifs_path, class: "nav-link #{'active' if current_page?(tarifs_path)}" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Agenda", agenda_path, class: "nav-link #{'active' if current_page?(agenda_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Évènements", events_path, class: "nav-link #{'active' if current_page?(events_path)}" %>
          </li>
          <!-- MENU DÉROULANT "DOCUMENTS" -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDocs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Documents
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownDocs">
              <li><%= link_to "Documents divers", documents_divers_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <!-- MENU DÉROULANT "ÉLÈVES" -->
          <% if current_user.fonction == 'eleve' || current_user.admin? || current_user.fonction == 'instructeur' %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEleves" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Élèves
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownEleves">
                <li><%= link_to "Cours théoriques", elearning_index_path, class: "dropdown-item" %></li>
                <li><%= link_to "Leçons de vol", flight_lessons_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Livret de progression", "#", class: "dropdown-item" %></li>
              </ul>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Médiathèque", mediatheque_path, class: "nav-link #{'active' if current_page?(mediatheque_path)}" %>
          </li>
        <% end %>
        <% unless user_signed_in? %>
          <li class="nav-item">
            <%= link_to "La flotte", flotte_path, class: "nav-link #{'active' if current_page?(flotte_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "BIA", bia_path, class: "nav-link #{'active' if current_page?(bia_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Baptêmes", baptemes_path, class: "nav-link #{'active' if current_page?(baptemes_path)}" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Outils", outils_path, class: "nav-link #{'active' if current_page?(outils_path)}" %>
        </li>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <%# MENU DÉROULANT "ADMIN" %>
        <%# Menu de gestion visible uniquement pour les administrateurs %>
        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-gear-fill"></i> Admin
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAdmin">
              <li><%= link_to '<i class="bi bi-exclamation-triangle me-2"></i>Gestion Consignes'.html_safe, admin_news_items_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to '<i class="bi bi-journal-text me-2"></i>Afficher les comptes'.html_safe, transactions_path, class: "dropdown-item" %></li>
              <li><%= link_to '<i class="bi bi-plus-circle me-2"></i>Saisir une transaction'.html_safe, new_transaction_path, class: "dropdown-item" %></li>
              <li><%= link_to '<i class="bi bi-bar-chart-line-fill me-2"></i>Analyse Financière'.html_safe, analytics_transactions_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to '<i class="bi bi-person me-2"></i>Liste des adhérents'.html_safe, users_path, class: "dropdown-item" %></li>
              <li><%= link_to '<i class="bi bi-person-plus me-2"></i>Créer un nouvel adhérent'.html_safe, new_admin_user_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to '<i class="bi bi-airplane me-2"></i>Afficher les vols'.html_safe, vols_path, class: "dropdown-item" %></li>
              <li><%= link_to '<i class="bi bi-calendar-check me-2"></i>Gestion des Réservations'.html_safe, admin_reservations_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to '<i class="bi bi-server me-2"></i>Gérer les tables (BDD)'.html_safe, admin_tables_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Mon Profil", user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "Modifier mon profil", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Se déconnecter", destroy_user_session_get_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Espace adhérents", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <div class="d-flex align-items-center ms-3">
        <i class="bi bi-sun-fill text-light me-2"></i>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="theme-toggle">
        </div>
        <i class="bi bi-moon-fill text-light ms-1"></i>
      </div>

    </div>
  </div>
  
</nav>